<div class="container">

    <div class="row">

      <div class="col-2 color1"> <app-logo></app-logo> </div>

      <div class="col-6 color2">  </div>

      <div class="col-4 color3"> <app-botones-superiores></app-botones-superiores> </div>

    </div>

    <div class="row">

        <div class="col-12"> <img class="img-fluid" src="https://picsum.photos/id/237/1500/600" /> </div>
  
  
      </div>

      <div class="row">

        <div class="col-3 color5"> Column </div>
  
        <div class="col-9 color6"> <app-acerca></app-acerca> </div>
  
  
      </div>

  </div>