<div class="container">
  <!-- Parte superior -->
  <div class="row row-cols-auto justify-content-between">
    <div class="col">
      <app-logo></app-logo>
    </div>

    <div class="col color3">
      <app-botones-superiores></app-botones-superiores>
    </div>
  </div>

  <!-- Imagen de portada -->
  <div class="row">
    <div class="col-12">
      <img class="img-fluid" src="https://picsum.photos/id/237/1500/600" />
    </div>
  </div>


  <!-- Acerca de  -->
  <div class="row">

    <div class="col color6"><app-acerca></app-acerca></div>
  </div>
</div>
