<div class="container">
  <div class="row">
    <div class="col-2">FOTO</div>
    <div class="col">
      <div class="row justify-content-start row-cols-auto">
        <div class="col d-inline g-0" >Jefe de deposito</div>
        <div class="col d-inline">1900 - 2200</div>
      </div>

      <div class="row">Empresa ficticia</div>
      <div class="row">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br />
        Ipsa voluptates optio sunt debitis.<br />
        Reprehenderit praesentium libero, suscipit ad asperiores id.
      </div>
    </div>
  </div>
</div>
