<form (ngSubmit)="modificarEstudio()">


    <input 
    type="text"
    placeholder="titulo"
    name="titulo"
    [(ngModel)]="estudio.titulo"
    />
 
    <br>
    <br>

    <input 
    type="text"
    placeholder="Institucion"
    name="institucion"
    [(ngModel)]="estudio.institucion"
    />
 
    <br>
    <br>

    <input 
    type="text"
    placeholder="Descripción"
    name="descripcion"
    [(ngModel)]="estudio.descripcion"
    />
 
    <br>
    <br>

    <input 
    type="text"
    placeholder="Fecha de inicio"
    name="fechaInicio"
    [(ngModel)]="estudio.fechaInicio"
    />
 
    <br>
    <br>


    <input 
    type="text"
    placeholder="Fecha de Finalización"
    name="fechaFinalizacion"
    [(ngModel)]="estudio.fechaFinalizacion"
    />
 
    <br>
    <br>


    <button type="submit">
        Agregar Estudio
    </button>



</form>